* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.indexBody {
    background-image: url("../img/club-naval-2.jpg");
    background-size: cover;
}

.log-container {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    width: 45vw;
    height: 90vh;
    border-radius: 20px;
}

.imgLogo {
    width: 75%;
    margin: 0 auto 10vh auto;
}

.inputClass {
    padding-left: 15px;
    margin: 0 auto 5vh auto;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    border: solid 2px rgb(240, 240, 240);
}

.inputClass:focus {
    border: solid 2px blue;
    outline-width: 0;
}

.labelClass {
    width: 70%;
    margin: 0 auto 1vh auto;
    font-size: small;
}

.forgotPswdBtn {
    font-size: small;
    width: 70%;
    margin: -20px auto 5vh auto;
    text-align: end;
    font-weight: 600;
}

.submitLink {
    text-align: center;
    width: 100%;
}

.submitBtn {
    width: 73%;
    background-color: rgb(0, 0, 215);
    color: white;
    font-size: larger;
    font-weight: 600;
    margin: 0 auto 5vh auto;
    padding: 2vh 0 2vh 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.submitBtn:hover {
    background-color: blue;
    transition: .5s;
}

.submitBtn:active {
    background-color: rgb(0, 0, 155);
}

.termsBtn, .privacyBtn {
    color: darkblue;
    font-weight: 600;
    font-size: small;
    width: 70%;
    margin: 2vh auto 0 auto;
    text-align: center;
}

/* USER INTERFACE */

.interfaceBody {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 2.5fr 10fr;
    grid-template-areas: 
    "data menu"
    "data act";
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.personalData {
    display: flex;
    flex-direction: column;
    grid-area: data;
    padding: 2vw;
    justify-content: space-evenly;
    height: 80vh;
    background-color: rgb(240, 240, 240);
    border-radius: 15px 0 0 15px;
}

.personalDataPic {
    width: 60%;
    margin: 0 auto 20px auto;
}

.personalDataContainer {
    padding-left: 2vw;
    margin-bottom: 1vh;
}

.personalDataTitle {
    font-size: small;
}

.personalDataInfo {
    font-weight: 600;
    font-size: large;
}

.modifyPersonalDataA {
    font-size: small;
    text-align: end;
    color: black;
}

.operationsMenu {
    position: relative;
    grid-area: menu;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 0 15px 0 0;
}

.operationsMenuList {
    width: 100%;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    margin: 5vh auto 5vh auto;
    justify-content: space-evenly;
}

.operationsMenuListItem {
    cursor: pointer;
    font-weight: 600;
    padding: 2vh 4vw 2vh 4vw;
    color: black;
    border-bottom: solid 2px rgb(245, 245, 245);
}

.operationsMenuListItem:hover {
    border-bottom: solid 2px rgb(0, 0, 200);
}

.operationsMenuListItem:focus {
    border-bottom: solid 2px rgb(0, 0, 200);
}

.personalDisplayArea {
    grid-area: act;
    background-image: url(../img/logo-club-naval1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.personalDisplayArea {
    display: flex;
    justify-content: end;
}

.welcomeMsg {
    margin: 5vh auto;
    width: 70%;
    text-align: center;
    font-style: italic;
    color: rgb(215, 215, 215);
}