* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.unselect {
    display: none !important;
}

.indexBody {
    background-image: url("../img/club-naval-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.log-container {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    width: 45vw;
    height: 90vh;
    border-radius: 20px;
}

.imgLogo {
    width: 75%;
    margin: 0 auto 10vh auto;
}

.inputClass {
    padding-left: 15px;
    margin: 0 auto 5vh auto;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    border: solid 2px rgb(240, 240, 240);
}

.inputClass:focus {
    border: solid 2px blue;
    outline-width: 0;
}

.labelClass {
    width: 70%;
    margin: 0 auto 1vh auto;
    font-size: small;
}

.forgotPswdBtn {
    font-size: small;
    width: 70%;
    margin: -20px auto 5vh auto;
    text-align: end;
    font-weight: 600;
}

.submitLink {
    text-align: center;
    width: 100%;
}

.submitBtn {
    width: 73%;
    background-color: rgb(0, 0, 215);
    color: white;
    font-size: larger;
    font-weight: 600;
    margin: 0 auto 5vh auto;
    padding: 2vh 0 2vh 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.submitBtn:hover {
    background-color: blue;
    transition: .5s;
}

.submitBtn:active {
    background-color: rgb(0, 0, 155);
}

.termsBtn, .privacyBtn {
    color: darkblue;
    font-weight: 600;
    font-size: small;
    width: 70%;
    margin: 2vh auto 0 auto;
    text-align: center;
}

/* USER INTERFACE */

.interfaceBody {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 100px 10fr;
    grid-template-areas: 
    "data menu"
    "data act";
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.personalData {
    display: flex;
    flex-direction: column;
    grid-area: data;
    padding: 2vw;
    justify-content: space-evenly;
    height: auto;
    background-color: rgb(240, 240, 240);
    border-radius: 15px 0 0 15px;
}

.personalActivities {
    background-color: rgb(245, 245, 245);
    border-radius: 0 15px 0 0;
}

.personalDataPic {
    width: 60%;
    margin: 0 auto 20px auto;
}

.personalDataContainer {
    padding-left: 2vw;
    margin-bottom: 1vh;
}

.personalDataTitle {
    font-size: small;
}

.personalDataInfo {
    font-weight: 600;
    font-size: large;
}

.operationsMenu {
    display: flex;
    height: 100%;
    position: relative;
    grid-area: menu;
    text-align: center;
    border-radius: 0 15px 0 0;
}

.operationsMenuList {
    list-style: none;
    margin: auto;
}

.operationsMenuListItem {
    width: auto;
    display: inline-flex;
    cursor: pointer;
    font-weight: 600;
    padding: 2vh 2vw 2vh 2vw;
    color: black;
    border-bottom: solid 2px rgb(245, 245, 245);
    text-align: center;
}

.operationsMenuListItem:hover {
    border-bottom: solid 2px rgb(0, 0, 200);
}

.operationsMenuListItem:focus {
    border-bottom: solid 2px rgb(0, 0, 200);
}

.personalDisplayArea {
    grid-area: act;
    background-image: url(../img/logo-club-naval1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.personalDisplayArea {
    display: flex;
}

.welcomeMsg {
    margin: 5vh auto;
    width: 70%;
    text-align: center;
    font-style: italic;
    color: rgb(215, 215, 215);
}

/* MEMBRECY TAG */

.membrecyTag {
    width: 100%;
    padding: 2vw;
}

.membrecyPersonalInfo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.familyTable {
    border-collapse: collapse;
    border-spacing: none;
    backdrop-filter: blur(2px);
}

.familyTable th, .familyTable td {
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
}

.familyTable th {
    background-color: black;
    color: white;
}

.familyTable tr:nth-child(even) {
    background-color: #00000026;
}

.infoLabel {
    margin-bottom: 2vh;
}

.nFamiliarTable {
    width: fit-content;
    margin: 2vh auto 2vh auto;
}

.membrecyBtns {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}

.mbcyBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mbcyBtns button {
    width: 25%;
    margin: 1vh 0 1vh 0;
}

.blueBtn {
    height: 3vw;
    border: none;
    border-radius: 7px;
    background-color: rgb(0, 0, 215);
    color: white;
    cursor: pointer;
}

.blueBtn:hover {
    background-color: blue;
}

.blueBtn:active {
    background-color: rgb(0, 0, 155);
}

.redBtn {
    height: 3vw;
    border: none;
    border-radius: 7px;
    background-color: rgb(215, 0, 0);
    color: white;
    cursor: pointer;
}

.redBtn:hover {
    background-color: red;
}

.redBtn:active {
    background-color: rgb(155, 0, 0);
}

    /* CLAIMS TAG */

.claimsTag {
    padding: 3vw;
    display: grid;
    grid-template-rows: 1fr 7fr;
    width: 100%;
    height: 85%;
    align-content: none;
}

.claimsTag h2 {
    height: fit-content;
    text-align: center;
}

.claimsTag form {
    display: flex;
    flex-direction: column;
}

.claimSelect {
    width: fit-content;
    margin: 5px 0 20px 0;
}

.claimTextarea {
    height: 65%;
    background-color: transparent;
    backdrop-filter: blur(3px);
    padding: 5px;
    margin: 5px 0 20px 0;
}

.claimsTag form input {
    width: 20%;
    margin: 0 0 0 80%;
    height: 3vw;
    border: none;
    border-radius: 7px;
    background-color: rgb(0, 0, 215);
    color: white;
}

.claimsTag form input:hover {
    background-color: blue;
}

.claimsTag form input:active {
    background-color: rgb(0, 0, 155);
}